html, body, *{
    background-color: black;
}
#img2 {
    max-width: 80%;
    max-height: 70%;   
    position: relative;
    margin-top: 5em; 
    object-fit: fill;
}
#logo2 {
    width:7%;
    height: auto;
    position: absolute;
}
.container {
    background-color: black;
}
